{% extends "base.html" %}

{% block title %}Librarian Dashboard{% endblock %}

{% block content %}
<div class="container">
    <center>
        <h2>
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }} profile" style="width:150px;">
            {% endif %}
            Welcome, {{ user.username.title }}! <small>(Librarian)</small>
        </h2>
        <p>Email: {{ user.email }}</p>

        <a href="{% url 'search_home' %}" style="
            display: inline-block;
            margin: 10px 0 20px;
            padding: 10px 20px;
            background-color: #3498db;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
        ">🔍 Go to Search Page</a>
    </center>

    <h2>Dashboard</h2>
    <ul>
        <li><a href="{% url 'view_items' %}">📚 Manage Items</a></li>
        <li><a href="{% url 'view_collections' %}">📂 Manage Collections</a></li>
        <li><a href="#">✅ Approve Borrow Requests (Coming Soon)</a></li>
        <li><a href="{% url 'librarian_requests' %}">🔼 Upgrade Patrons to Librarians</a></li>
        <li><a href="{% url 'upload_profile_picture'%}">Upload profile picture</a></li>
    </ul>

    <center>
        <a href="{% url 'logout' %}" class="button-logout">Logout</a>
    </center>
</div>
{% endblock %}
